th {
  font-family: Astron;
  font-size: 25px;
  color: rgb(251, 220, 99);
}



td {
  font-family: Astron;
  font-size: 25px;
  color: white;
}

/*  */

table, th, td {
  border: 0.1em solid white;
  border-style: dashed;
  padding: 1em;
  text-align: center;
}
